:root {
    --red: #EA5353;
    --cyan: #45D3D3;
    --orange: #FCAF4A;
    --blue: #549EF2;
    --text-color: #4C4E61;
    --body-color: #A3A5AE;
    --card-color: #FAFAFA;
    --background: #ffffff;

    --main-font: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--main-font);
    font-size: 15px;
    background: var(--card-color);
    height: 100vh;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

.main_title {
    font-weight: 200;
    font-size: 2.5rem;
}

.main_caption {
    font-weight: 600;
    font-size: 2.5rem;
}

.main_text {
    color: var(--body-color);
    padding-top: 1rem;
    width: 40%;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 400;
}

.grid_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1.5rem;
    width: 80%;
    padding-top: 4rem;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--background);
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.card1 {
    border-top: 5px solid var(--cyan);
    grid-column: 1;
    grid-row: 1 / span 2;
    align-self: center;
}

.card2 {
    border-top: 5px solid var(--red);
    grid-column: 2;
    grid-row: 1;
}

.card3 {
    border-top: 5px solid var(--orange);
    grid-column: 2;
    grid-row: 2;
}

.card4 {
    border-top: 5px solid var(--blue);
    grid-column: 3;
    grid-row: 1 / span 2;
    align-self: center;
}

.card_title {
    font-size: 1.2rem;
    font-weight: 600;
}

.card_text {
    padding-bottom: 7rem ;
    padding-top: 1rem;
    font-size: 0.8rem;
    color: var(--body-color);
}

.card_image {
    position: absolute; 
    bottom: 2rem;
    right: 2rem;
    width: 3.5rem;
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    padding: 2rem;
}
.attribution a { 
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}

@media (max-width: 740px) {
    .main {
    padding: 2rem;
    }

    .main_title, .main_caption {
        font-size: 1.5rem;
    }

    .main_title {
        padding-top: 1.5rem;
    }

    .main_text {
        width: 90%;
        font-size: 0.75rem;
    }

    .grid_container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .card_title {
        font-size: 1rem;
    }

    .card_text {
        font-size: 0.75rem;
    }
}


